body{
	min-height :100% !important;
}

.submitButton{
	width : 100%;
	margin-top: 10px;
}

.forgotPwd{
	float: right;
    margin-top: 10px;
}

thead{
	background-color: #337ab7;
    border-color: #2e6da4;
	color: #fff;
}

td{
	text-align: center;
}

/* label alignment on Create Leave Screen */
.form-horizontal .control-label{
	text-align: left;
}

.dateInput {
	margin: 0 !important;
	width: 50%;
	float: left;
	margin-right: 10px !important; 
}

/* Remove border */

.recordsTable td{
	border: none !important;
}


/* modal Css */

.modal-dialog{
	width: 450px;
	top: 20px;
}

.modal-content{
	height: 100px;
	padding: 10px;
}
.modal-body h4{
	float: left;
}
.modal-btn {
	width: 15% !important;
	float: right;
}