<div class = "container" ng-controller="ApproveRequestController">
	<h3>Pending Leave Requests</h3>
	<br>
	<div class = "alert alert-warning" ng-if = "records.length === 0">
        <h3>No Leave records to display</h3>
    </div>
	<table wt-responsive-table class="table table-hover" ng-table="tableParams">		
		<tr ng-repeat = "leave in $data">
			<td data-title = "'Name'" sortable="'firstName'">
				{{leave.userId[0].firstName + " " + leave.userId[0].lastName}}
			</td>
			<td data-title = "'Start Date'" sortable="'leaveStartDate'">
				{{leave.leaveStartDate | date: 'dd-M-yyyy'}}
			</td>
			<td data-title = "'End Date'" sortable="'leaveEndDate'">
				{{leave.leaveEndDate | date: 'dd-M-yyyy'}}
			</td>
			<td data-title = "'Reason'" sortable="'reason'">
				{{leave.reason}}
			</td>
			<td data-title = "'Status'">
				{{leave.status}}
			</td>
			<td>
				<div style= "width: 10px"></div>
			</td>
			<td data-title = "'Action'">
				<a class = "btn btn-success" ng-click = "requestAction(leave._id, 'Approve')">Approve</a>
				<a class = "btn btn-danger" style = "margin-left: 10px" ng-click = "requestAction(leave._id, 'Reject')">Reject</a>			
			</td>
		</tr>
	</table>
</div>