<div class = "container">
	<h3>Change password page</h3>	
	<br>
	<form name="form" class="form-inline" novalidate>
		<table class = "table borderless" style = "width:90%">
			<tr>
				<td><label for = "Password" style = "margin-right: 30px;">Password</label></td>
				<td>
					<input type="password" class = "form-control" style = "width: 75%;" name="password" ng-maxlength=20 ng-model="password" required>
				</td>
				<td>
					<span style="color:red" ng-show="form.password.$dirty && form.password.$invalid">
						<span ng-show="form.password.$error.required">Please enter password.</span>
					</span>
				</td>
			</tr>
			<tr></tr>
			<tr>
				<td><label for = "confirmPassword" style = "margin-right: 30px;">Confirm Password</label></td>
				<td>
					<input type="password" class = "form-control" style = "width: 75%;" name="confirmPassword" ng-maxlength=20 ng-model="confirmPassword" required match = "password" >	
				</td>
				<td>
					<span style="color:red" ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
						<span ng-show="form.confirmPassword.$error.required">Please re-enter password.</span>
					</span>
					<span style="color:red" ng-show="form.confirmPassword.$error.match">
						<span ng-show="form.confirmPassword.$error.match">Password do not match.</span>
					</span>
					
				</td>
			</tr>
		</table>		
		<button ng-click = "submit()" class="btn btn-primary" ng-disabled="form.$invalid">Change Password</button>
	</form>
</div>