<div class = "container container-fluid">	
	<h2>Editing Exist Leave</h2>
    <br>
	<form name="form" class="form-inline" ng-submit="submitForm(form.$valid)" novalidate>
    	<div class="form-group">
     		<table class = "table borderless" style = "width: 400px;">
     			<tr>
     				<td><b>Name</b></td>
     				<td>{{record.userId[0].firstName + ' ' + record.userId[0].lastName}}</td>
     			</tr>
     			<tr>
     				<td><b>Project Name</b></td>
     				<td>{{record.projectId[0].ProjectName}}</td>
     			</tr>
     			<tr>
     				<td><b>Manager's Name</b></td>
     				<td>{{record.projectId[0].ProjectManager}}</td>
     			</tr>
     		</table>
           <div class="form-group">
                <table class = "table borderless" >
                    <tr>
                        <td><b>Start Date</b></td>
                        <td>
                            <input type="date" class="form-control" datepicker-popup ng-model="startDate" is-open="startStatus.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"  style="margin: 0 10px;"/>					
                        </td>
                        <td>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </td>
        
                        <td><b>End Date</b></td> 
                        <td>
                            <input type="date" class="form-control" datepicker-popup ng-model="endDate" is-open="endStatus.opened" min-date="minEndDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"  style="margin: 0 10px;"/>			
                        </td>			
                        <td>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>					
                        </td>
                    </tr>
                </table>
            </div>
             <br>    	
            <div class="form-group" style = "margin-left: 10px;">
                <b style = "margin-right: 50px;">Reason</b>
                    <input type="text"  name="leaveReason" ng-maxlength=20 ng-model="record.reason" required>
                    <span style="color:red" ng-show="form.leaveReason.$dirty && form.leaveReason.$invalid">
                        <span ng-show="form.leaveReason.$error.required">Reason is required.</span>
                    </span>
            </div>					
            <br><br><br><br>
            <div class="form-group" style = "margin-left: 10px;">
                <a class="btn btn-primary" style = "margin-right: 20px;" href="#/viewRecords">CANCEL</a>
                <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="submit()">SUBMIT</button>   
            </div>
        </form>
    </div>