<div class = "container">
	<h3>Forgot Password Page</h3><br>
	<form name="form" class="form-inline" novalidate>
			<label for = "username" style = "margin-right: 30px;">Please enter your Registered Email Address</label>
			<input type="email" class = "form-control" style = "width: 75%;" name="emailAdress" ng-maxlength=50 ng-model="emailAddress" required>
		    <span style="color:red" ng-show="form.emailAddress.$dirty && form.emailAddress.$invalid">
		  	    <span ng-show="form.emailAddress.$error.required">Registered Email Address is required.</span>
		    </span>

		    <br><br>
		    <button ng-click = "submit()" class="btn btn-primary" ng-disabled="form.$invalid">Submit</button>
	</form>
</div>