<!-- <a class="btn btn-primary" href="/#/create/movie"><span class="glyphicon glyphicon-plus"></span> Create Tech</a>
<table class="table table-striped">
	<thead>
		<th>Title</th>
		<th>URL</th>
		<th>Operations</th>
	</thead>
	
	<tbody>
    <tr ng-repeat="tech in movies">
      <td><a ng-href="/#/tech/{{ tech._id }}">{{ tech.title }}</a></td>
      <td>{{ tech.url }}</td>
      <td>
        <div class="button-group">
          <a ng-href="/#/tech/{{ tech._id }}/edit" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
          <a ng-href="/#/tech/{{ tech._id }}/delete" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></a>
        </div>
      </td>
    </tr>
  </tbody>
	
</table>
 -->
 Hahuu Hahuu 300 logged in leonidas !!!