<div class = "container">
	<h2>View Leave Records By Employee</h2>
	<div class = "row">
		<div class = "col-md-9">
			<div class="well well-sm">
				<h4>Search Criteria</h4>
				<br>	
				<div class="form-group">
					<label class="control-label">From</label>
					<input type="date" class="" datepicker-popup ng-model="startDate" is-open="startStatus.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"  style="margin: 0 10px;"/>  <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					
					<label class="control-label">To</label>
					<input type="date" class="" datepicker-popup ng-model="startDate" is-open="startStatus.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"  style="margin: 0 10px;"/>  <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					<button class = "btn btn-primary" style = "margin-left: 10px;">Filter</button>
					<br><br>
					<label class="control-label">Status</label>
					<select class = "">
						<option value = "-1">Select</option>
						<option value = "approved">Approved</option>
						<option value = "pending">Pending</option>
						<option value = "rejected">Rejected</option>
						<option value = "cancelled">Cancelled</option>	
					</select>					           
				</div>		
			</div>
			<br>
			<table class = "table table-hover" ng-table="tableParams">
				<thead>
					<tr>
						<td>Full Name</td>						
						<td>Email Address</td>
						<td>Start Date</td>
						<td>End Date</td>
						<td>Reason</td>
						<td>Status</td>
					</tr>
				</thead>	
				<tbody>
					<tr ng-repeat = "leave in leaves">
						<td>{{leave.userId[0].firstName + ' ' + leave.userId[0].lastName}}</td>
						<td>{{leave.userId[0].emailAddress}}</td>	
						<td>{{leave.leaveStartDate | date: 'dd-M-yyyy'}}</td>
						<td>{{leave.leaveEndDate | date: 'dd-M-yyyy'}}</td>
						<td>{{leave.reason}}</td>
						<td>{{leave.status}}</td>					
					</tr>
				</tbody>							
			</table>				
		</div>
		<div class = "col-md-3">
			<h3>{{projectName}}</h3>
			<ul class="list-group member-list">
				<li class="list-group-item" ng-repeat="user in users" ng-click = "showUserLeave(user._id)">				
					{{user.firstName + ' ' + user.lastName}}
				</li>
			</ul>	
		</div>		
	</div>	
</div>