<div class = "container">
	<h4>View Leave Records By Employee</h4>
	<div class = "row">
		<div class = "col-md-9">
			<!-- <div class="well well-sm">
				<h4>Search Criteria</h4>
				<br>	
				<div class="form-group">
					<label class="control-label">From</label>
					<input type="date" class="" datepicker-popup ng-model="startDate" is-open="startStatus.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"  style="margin: 0 10px;"/>  <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					
					<label class="control-label">To</label>
					<input type="date" class="" datepicker-popup ng-model="startDate" is-open="startStatus.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"  style="margin: 0 10px;"/>  <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					<button class = "btn btn-primary" style = "margin-left: 10px;">Filter</button>					
				</div>		
			</div> -->
			<br>			
			<div class = "row">
				<div class = "col-md-6">
					<input type="text" class="form-control" placeholder="Filter on Full Name, Email, Status" ng-model = "search">
				</div>
				<div class = "col-md-6">
					<label class="control-label col-md-2">Status</label>
					<div class = "col-md-4">
						<select class = "form-control" ng-model= "selectedStatus" ng-options = "status.id as status.name for status in statuses track by status.id" ng-change = "updateStatus()"></select>							
					</div>					
				</div>
			</div>
			<br>
			<table wt-responsive-table class="table table-hover" ng-table="tableParams">
				<tr ng-repeat = "leave in $data | filter:search">
					<td data-title = "'Name'" sortable="'firstName'">
						{{leave.userId[0].firstName + " " + leave.userId[0].lastName}}
					</td>
					<td data-title = "'Start Date'" sortable="'leaveStartDate'">
						{{leave.leaveStartDate | date: 'dd-M-yyyy'}}
					</td>
					<td data-title = "'End Date'" sortable="'leaveEndDate'">
						{{leave.leaveEndDate | date: 'dd-M-yyyy'}}
					</td>
					<td data-title = "'Reason'" sortable="'reason'">
						{{leave.reason}}
					</td>
					<td data-title = "'Status'">
						{{leave.status}}
					</td>
				</tr>
			</table>		
		</div>
		<div class = "col-md-3">
			<h3>{{projectName}}</h3>
			<ul class="list-group member-list">
				<li class="list-group-item" ng-repeat="user in users" ng-click = "showUserLeave(user._id)">				
					{{user.firstName + ' ' + user.lastName}}
				</li>
			</ul>	
		</div>		
	</div>	
</div>